#iet1 .lec-color{
	background-color: rgb(122, 193, 67);
}

#iet2 .lec-color{
	background-color: rgb(239, 199, 58);
}

#iet3 .lec-color{
	background-color: rgb(254, 153, 1);
}

#iet4 .lec-color{
	background-color: rgb(240, 52, 66);
}

#iet5 .lec-color{
	background-color: rgb(240, 52, 202);
}

#iet6 .lec-color{
	background-color: rgb(119, 69, 188);
}

#iet7 .lec-color{
	background-color: rgb(66, 184, 209);
}

#iet8 .lec-color{
	background-color: rgb(63, 94, 202);
}

#iet9 .lec-color{
	background-color: rgb(19, 82, 140);
}

#iet10 .lec-color{
	background-color: rgb(47, 46, 46);
}

#iet1 a:hover{
	background-color: rgb(122, 193, 67);
}

#iet2 a:hover{
	background-color: rgb(239, 199, 58);
}

#iet3 a:hover{
	background-color: rgb(254, 153, 1);
}

#iet4 a:hover{
	background-color: rgb(240, 52, 66);
}

#iet5 a:hover{
	background-color: rgb(240, 52, 202);
}

#iet6 a:hover{
	background-color: rgb(119, 69, 188);
}

#iet7 a:hover{
	background-color: rgb(66, 184, 209);
}

#iet8 a:hover{
	background-color: rgb(63, 94, 202);
}

#iet9 a:hover{
	background-color: rgb(19, 82, 140);
}

#iet10 a:hover{
	background-color: rgb(47, 46, 46);
}